<section>
    <table class="table mt-5">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mobile}}</td>
                <td>
                    <a href="/admin/deleteUser/{{this._id}}" class="btn btn-danger"
                        onclick="return confirm('Are you sure to delete ?')">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>