<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Easy Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                {{#if user}}
                <a class="nav-link mt-1" href="/cart"><span class="text-light fontdown">Cart</span><span
                        class="badge badge-success" id="cart-count">{{count}}</span></a>
                {{/if}}
            </li>
            <li class="nav-item">
                {{#if user}}
                <a class="nav-link mt-1" href="/orders">Orders</a>
                {{/if}}
            </li>
        </ul>
        <div class="dropdown d-lg-block ">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{#if user}}
                {{user.name}}
                {{else}}
                Account
                {{/if}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#if user}}
                <a class="dropdown-item" href="/logout">Logout</a>
                {{else}}
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/signup">Signup</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>