<section>
    <div class="container">
        <div>
            <h2 class="text-center text-success mt-5" >Order Placed Successfully</h2>
            <h5 class="text-center text-secondary mt-2 mb-5">Thank you for using <b class="text-primary">Easy Cart</b>.
            </h5>
        </div>
        <div class="order">
            <button id="none" class="float-right btn btn-primary mr-5 mt-5" onclick="clickme()">Orders</button>
        </div>
    </div>
</section>
<script>
    function clickme() {
        location.href = '/orders'
    }
</script>